
.description-class
{
    text-align: left;
}
.check-button
{
    background-color: orange;
    border: none;
    border-radius: 5px;
}
.link-class-check
{
    text-decoration: none;
    color: black;
}
.link-class-check:hover
{
    color:black
}