@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
 body
{
    font-family: 'Poppins', sans-serif;
}
.blogs-class
{
    background-color: black;
    color: white;
    text-align: justify;
    padding: 20px;
}